/* 

  [1 ] GLOBAL STYLE 

*/

:root {
  --primary-color   : #13172B;
  --secondary-color : #555761;
  --accent-color    : #D51A1D;
  --pink-color      : #FFE0D9;
  --white-100-color : #F5F7FD;
  --green-color     : #DEF3E5;
  --purple-color     : #D2DFFF;
  --sky-color       : #709CD0;


}

/* Fonts */
@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Medium'), local('TT-Firs-Neue-Medium'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-Medium.woff') format('woff2'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-Medium.woff') format('woff'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Demi Bold'), local('TT-Firs-Neue-Demi-Bold'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-DemiBold.woff2') format('woff2'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-DemiBold.woff') format('woff'),
      url('../fonts/TT-Firs-Neue/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont Regular'), local('Mont-Regular'),
      url('../fonts/Mont/Mont-Regular.woff2') format('woff2'),
      url('../fonts/Mont/Mont-Regular.woff') format('woff'),
      url('../fonts/Mont/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont Semi Bold'), local('Mont-Semi-Bold'),
      url('../fonts/Mont/Mont-SemiBold.woff2') format('woff2'),
      url('../fonts/Mont/Mont-SemiBold.woff') format('woff'),
      url('../fonts/Mont/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: local('Mont Bold'), local('Mont-Bold'),
      url('../fonts/Mont/Mont-Bold.woff2') format('woff2'),
      url('../fonts/Mont/Mont-Bold.woff') format('woff'),
      url('../fonts/Mont/Mont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


*{box-sizing: border-box;}

@media(max-width: 1600px) {
  html {
    font-size: 14px !important;
  }
}

html {
  font-size: 20px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-family: 'Mont';
  overflow-y: hidden;
}


h1,h2,h3,h4,h5,h6,p {margin: 0;}

ol, ul {list-style: none; margin: 0; padding: 0;}

h1,.h1 {
  color: var(--primary-color);
  font-size: 4rem;
  line-height: 4.5rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-family: 'TT Firs Neue';
}

h2 {
  color: var(--primary-color);
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  font-family: 'TT Firs Neue';
}

h3 {
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-family: 'Mont';
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 1.2rem;
}

p {
  color: var(--secondary-color);
  font-size: .9rem;
}

p.boxed {
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.btn {
  padding: .85rem 2.4rem;
  font-size: 1rem;
  border-radius: 50px;
}

.btn-danger {
  background-color: var(--accent-color) !important;
  border: none;
}

.marked {
  font-weight: 600;
  color: var(--primary-color);
}

section {
  padding: 6rem 0;
}

li {
  color: var(--secondary-color);
}

li svg {
  width: 1.2rem ;
  min-width: 1.2rem;
  height: 1.2rem ;
  padding: 2px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.manual li svg {
  background-color: rgb(255 70 75 / 50%);
  color: #FF464B;
}
.ai li svg {
  background-color: rgb(33 194 114 / 50%);
  color: #21C272;
}

[bgImage="true"] {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  min-height: 200px;
}

.separator {
  height: 3px;
  width: 100%;
  background: var(--accent-color);
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all .15s linear;
  display: inline-block;
}

input {
  background-image: none !important;
}

input:focus + .separator,
.form-control[data-focus-visible=true]+ .separator {
  transform: scaleX(1) translateY(0) !important;
  opacity: 1 !important;
}

.scroll-btn {
  position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: #fff;
    width: 35px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 17%);
    z-index: 999;
}

.scroll-btn .bi::before {
  vertical-align: -.25rem;
}

.scroll-btn.hide {
  right: -100px;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #FFF;
  display: flex;
  align-items: center;
}

.sk-circle {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--accent-color);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* 

[ 2 ] Header & Navbar Style 

*/

#header {
  padding: 2rem 0;
}

#header .navbar-nav .nav-item .nav-link {
  color: var(--primary-color) ;
  font-weight: 600;
}

#header .navbar-nav .nav-item:hover .nav-link{
  color: var(--accent-color);
}

.navbar-toggler:focus { 
  box-shadow: none;
}

#header .navbar-toggler-icon {
  position: relative;
  display: block;
}

#header  .navbar-toggler .navbar-toggler-icon::before,
#header .navbar-toggler .navbar-toggler-icon::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 3px;
  left: 0;
  top: 30%;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: var(--primary-color);
}

#header  .navbar-collapse .navbar-toggler .navbar-toggler-icon::before,
#header .navbar-collapse .navbar-toggler .navbar-toggler-icon::after {
  background-color: #FFF;
}

#header .navbar-toggler  .navbar-toggler-icon::after {
    top: 70%;
}

#header .navbar-collapse .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    top: 50%;
    transform: rotate(45deg);
}

#header .navbar-collapse .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    top: 50%;
    transform: rotate(-45deg);
}




/* 

[ 3 ] Home section

*/

#home .home-img  {
  background-image: url('../images/hero-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  max-height: 40rem;
  margin-top: 3rem;
}

/* 

[ 4 ] About section

*/
#about .row {
  column-gap: 8.5rem;
}

#about .video-player {
  height: 22rem;
  background-image: url('../images/video-cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .video-player .play-icon {
  max-width: 5rem;
  cursor: pointer;
}


/* 

[ 5 ] Power section

*/
#power .power-img {
  height: 28rem;
  background-image: url('../images/the-power-of-intelligence.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}


/* 

[ 6 ] what-solve section

*/
#what-solve {
  padding: 5rem 0;
  background-color: var(--white-100-color);
}
#what-solve .row {
  column-gap: 10rem;
}


/* 

[ 7 ] trust-us section

*/
#trust-us .regulator {
  margin-top: 3rem;
}

#trust-us .container > .regulator[aria-name="fincen"] {
  background-color: var(--pink-color);
}
#trust-us .container > .regulator[aria-name="fintrac"] {
  background-color: var(--green-color);
}
#trust-us .container > .regulator[aria-name="asic"]{
  background-color: var(--purple-color);
}

#trust-us .regulator_info {
  padding: 2.5rem 8rem 2.5rem 2.5rem;
}

#trust-us .regulator_info .msb_num {
  background-color: #FFF;
  padding: .6rem 1.2rem;
  max-width: max-content;
  border-radius: 100px;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

#trust-us .regulator_info .regulator_head{
  margin-bottom: 2.5rem;
}

#trust-us .regulator_info .regulator_head .regulator_avatar{
  max-width: 250px;
  filter: drop-shadow(0 4px 32px rgba(0,0,0,.08))
}

#trust-us .regulator_info .regulator_body p{
  font-size: 16px;
}

#trust-us .regulator .regulator_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 250px;
}
#trust-us .regulator[aria-name="fincen"] .regulator_img {
  background-image: url('../images/fincen-img.png');
  border-bottom: 8px solid #FF7554;
  
}
#trust-us .regulator[aria-name="fintrac"]  .regulator_img {
  background-image: url('../images/fintrac-img.png');
  border-bottom: 8px solid #60CF41;
  ;
  
}
#trust-us .regulator[aria-name="asic"]  .regulator_img {
  background-image: url('../images/asic-img.png');
  border-bottom: 8px solid #3C72FF;
  ;
  
}

/* [ 8 ] pricing section */
#pricing .boxes {
  margin-top: 5rem;
}

#pricing .pricing_box {
  background-color: #FFF;
  padding: 2rem 3.75rem;
}

#pricing .pricing_box:hover {
  filter: drop-shadow(0 24px 64px rgba(0,0,0,.12));
}

#pricing .pricing_box .description p {
  font-weight: 600;
}
#pricing .pricing_box .description p.num {
  color: var(--primary-color);
}

#pricing .pricing_box hr{
  margin: 1.6rem 0;
}

/* [ 9 ] How-to-register section */
#how-to-register .row.head {
  column-gap: 8.5rem;
} 

#how-to-register .steps {
  margin-top: 4rem;
}

#how-to-register .steps .step{
  padding: 2rem;
  height: 100%;
} 
#how-to-register .steps .col-12{
  padding: 0;
} 

#how-to-register .steps .step{
  padding: 2rem;
} 

#how-to-register .steps .step[num="1"]{
  border-right: 1px solid #D4D9E4;
  border-bottom: 1px solid #D4D9E4;
} 

#how-to-register .steps .step[num="2"]{
  border-right: 1px solid #D4D9E4;
  border-bottom: 1px solid #D4D9E4;
} 

#how-to-register .steps .step[num="3"]{
  border-bottom: 1px solid #D4D9E4;
} 

#how-to-register .steps .step[num="4"]{
  border-right: 1px solid #D4D9E4;
} 
#how-to-register .steps .step[num="5"]{
  border-right: 1px solid #D4D9E4;
} 

#how-to-register .steps .step .title,
#referral-program #refer .num{
  display: inline-block;
  padding: .4rem 1.2rem;
  background-color: var(--sky-color);
  color: #FFF;
  border-radius: 64px;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
} 

/* [ 10 ] Team section */
#team .members {
  margin-top: 10rem;
}

#team .members p.position{
  color: var(--accent-color);
}


/* [ 11 ] FAQ section */

#faq .accordion {
  margin-top: 5rem;
  text-align: left;
}

#faq .accordion .accordion-item{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#faq .accordion .accordion-item:last-of-type{
  border: none;
}


#faq .accordion .accordion-button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

#faq .accordion .accordion-item .accordion-body {
  padding: 0 0 2rem;

}

.accordion-button:focus {
  box-shadow: none;
}

/* [ 12 ] Sponsers section */
#sponsers img {
  max-width: 282px;
}

/* active box */
.accordion-button:not(.collapsed) {
  color: var(--primary-color);
  background-color: initial;
  box-shadow: none;
}

.accordion-button::after {
  background-image: url('../images/plus-icon.svg');
  background-size: cover;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('../images/minus-icon.svg');
}
.accordion-button.collapsing::after {
  transform: rotate(-180deg);
}


/* [ 13 ] Footer section */
#footer {
  padding: 5rem 0;
  background-color: var(--white-100-color);
}

#footer .row {
  column-gap:  8.5rem;
} 

#footer .h1 {
  font-weight: 500;
}
#footer .footer_logo {
  margin: 2rem 0;
}
#footer .footer_contact_info {
  justify-content: space-between;
}


#footer .footer_contact_info h5{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .5rem;
}
#footer .social_icons {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

#footer .social_icons li:not(:last-of-type){
  margin-right: 1.5rem;
}

#footer form label {
  position: relative;
  font-family: 'Mont';
  font-weight: 600;
}
#footer form label.required::after {
  position: absolute;
  content: '*';
  color: var(--accent-color);
}

#footer form .input-group {
  margin-bottom: 2rem;
  column-gap: 2rem;
}

#footer form .input-group > div{
  flex-grow: 1;
}

#footer form .form-control {
  background-color: transparent;
  border: 0;
  padding-left: 0;
  position: relative;
}

#footer form .form-control:focus {
  box-shadow: none;
}

#footer form .name {
  position: relative;
}

#footer form input::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--accent-color);
}

#footer form .name:active #footer form .name::after{
  width: 100%;
}


#footer form .textarea {
  margin-bottom: 2rem;
}


/* START REFERRAL PROGRAM PAGE STYLE */

#referral-program #header {
  position: absolute;
  width: 100%;
}

#referral-program #header  .navbar-toggler .navbar-toggler-icon::before,
#referral-program #header .navbar-toggler .navbar-toggler-icon::after {
  
  background-color: #FFF;
}

#referral-program .navbar-brand img {
  filter: brightness(40);
}
#referral-program #header .navbar-nav .nav-item:hover .nav-link {
  text-decoration: underline;
}

#referral-program #home {
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 48rem;
  display: flex;
  align-items: center;

}

#referral-program #home h1,
#referral-program #home .marked ,
#referral-program #header .navbar-nav .nav-item .nav-link {
  color: #FFF;
}

#referral-program #home p {
  color: #B7B7B7;
}


#referral-program #features {
  transform: translateY(-100px);
}
#referral-program #features .feature {
  background-color: #FFF;
  border-radius: 16px;
  padding: 25px;
  filter: drop-shadow(0 4px 32px rgba(0,0,0,.08));
  height: 100%;
}

#referral-program #features .feature .feature_icon {
  margin-bottom: 2.5rem;
}

#referral-program #bonus .container >  div {
  padding: 3rem;
}

#referral-program #bonus .system,
#referral-program #bonus .global {
  background-color: var(--pink-color);
}
#referral-program #bonus .sponsorship {
  background-color: var(--green-color);
}
#referral-program #bonus .management {
  background-color: var(--purple-color);
}

#referral-program #bonus .example {
  border: 1px solid #C4C9D6
}
#referral-program #bonus  ul  {
  list-style: disc;
  margin-left: .75rem;
}

#referral-program #bonus  ul li{
  color: var(--primary-color);
  font-weight: 600;
}

#referral-program #steps-to-earn h2,
#referral-program #refer h2,
#referral-program #achieve h2{
  margin-bottom: 5rem;
}

#referral-program #steps-to-earn .num {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  color: var(--accent-color);
}


#referral-program #achieve {
  padding-bottom: 10rem;
}

#referral-program #achieve .row{
  column-gap: 10.5rem;
}

#referral-program #achieve .achieve_info{
  padding: 1.6rem;
  border: 1px solid #C4C9D6;
}

#referral-program #achieve .achieve_img{
  min-height: 350px;
}

#referral-program #achieve .btn{
  padding: 1rem;
  border-radius: 0;
  width: 100%;
}












/* 

Media Query 

*/

@media(min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
@media(min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}


/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  #about .row, 
  #what-solve .row, 
  #how-to-register .row.head,
  #referral-program #achieve .row, 
  #footer .row{
    column-gap: 4.25rem;
  }

}

/* Tablet */
@media (max-width: 991px) {
  h1,.h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  #referral-program #steps-to-earn h2 ,
  #referral-program #refer h2,
  #referral-program #achieve h2 {
    margin-bottom: 3rem;
  }

  h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  section, #referral-program #achieve {
    padding: 3rem 0;
  }

  #header .navbar-nav .nav-item .nav-link {
    color: #FFF;
  }

  #header .navbar-collapse {

    /* new style */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(19 23 43 / 70%);
    backdrop-filter: blur(10px);
    margin-top: 0;
    z-index: 9999;
    opacity: 1;
    transition: opacity .2s linear;
    min-height: 100%;
    overflow-y: auto;
  }

  #header .navbar-collapse .dropdown-menu {
    background-color: transparent;
  }
  #header .navbar-collapse .dropdown-menu  li a{
    color: #fff;
  }
  #header .navbar-collapse .header {
    display: flex;
    padding: 2.6rem 1.5rem;
  }

  #header .navbar-collapse .navbar-nav {
    padding: 5rem ;
  }

  #header .navbar-collapse .header .space{
    flex-grow: 1;
  }

  #header .collapse:not(.show) {
    opacity: 0;
    display: block;
    z-index: -1;
  }

  #home .home-img {
    height: 20rem;
  }

  #about .video-player {
    height: 15rem;
  }

  #power .power-img {
    height: 14rem;
    margin-bottom: 1.5rem;
  }


  #how-to-register .steps .step[num="2"] {
    border-right: 0 solid #D4D9E4 !important;
  }
  #how-to-register .steps .step[num="3"] {
    border-right: 1px solid #D4D9E4 !important;
  }
  #how-to-register .steps .step[num="4"] {
    border-right: 0 solid #D4D9E4 !important;
    border-bottom: 1px solid #D4D9E4 !important;
  }

  #team .members {
    margin-top: 5rem;
  }

  
}


@media(max-width: 768px) {
  #pricing .pricing_box {
    padding: 2rem ;
  }
  p.boxed {
    width: 100%;
    margin: auto;
  }

  #sponsers img {
    max-width: 150px;
  }
}

/* Mobile  */
@media (max-width: 576px) {
  h1,.h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .navbar-brand {
    max-width: 150px;
  }

  #trust-us .regulator_info {
    padding: 2rem;
  }

  #trust-us .regulator_info .regulator_head .regulator_avatar{
    max-width: 120px;
  }

  #how-to-register .steps .step{
    padding: 2rem 1rem;
  } 

  #how-to-register .steps .step:not([num="6"]) {
    border: none !important;
    border-bottom: 1px solid #D4D9E4 !important;
  }

  #sponsers img {
    max-width: 120px;
  }

  #footer form .input-group > div{
    width: 100%;
  }

  #footer form .input-group .name,
  #footer form .input-group .subject {
    margin-bottom: 2rem;
  }
}




