@font-face {
    font-family: 'Mont';
    src: local('Mont Black'), local('Mont-Black'),
        url('Mont-Black.woff2') format('woff2'),
        url('Mont-Black.woff') format('woff'),
        url('Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }